
/*
 * The animation principle is taken from Material-UI
 * https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/CircularProgress/CircularProgress.js
*/

.spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  animation: rotate 1.4s infinite linear;
  color: var(--grass-green);
}

.circleIcon {
  width: inherit;
  height: inherit;
}

.circleIcon > circle {
  stroke: currentColor;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0;
  animation: dash 1.4s infinite ease-in-out;
}

.overlay {
  display: grid;
  opacity: 0.75;
  z-index: 9999;
  place-items: center;
  background-color: var(--grey-alpha-10);
  width: 100%;
  height: 100%;
}

@keyframes rotate {

  0% {
    transform-origin: 50% 50%;
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {

  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

@media ( prefers-reduced-motion ) {

  .spinner {
    animation: none;
  }

  .circleIcon > circle {
    animation: none;
  }
}
